.banner-content h1,
.banner-content h3,
.banner-content h4,
body,
p {
  font-family: "Open Sans", sans-serif;
}
.banner-content h1,
.banner-content h2,
.banner-content h3,
.banner-content h5 {
  color: #fff;
  text-shadow: 0 0 6px #000;
}
.banner,
.item {
  background-position: center center;
}
.carousel,
.carousel-inner,
.item {
  z-index: 0;
  width: 100%;
  height: 100%;
}
.form-btn,
body {
  font-size: 16px;
}
.f-right,
.right,
footer p {
  text-align: right;
}
.form-btn,
.propertieseffect a {
  cursor: pointer;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
footer h3,
p {
  font-size: 18px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 0;
  font-weight: 600;
  color: #000;
}
h1,
h2,
h3,
h4 {
  padding-bottom: 0;
  font-weight: 900;
}
img {
  max-width: 100%;
}
p {
  margin-bottom: 20px;
  color: #111;
  font-weight: 400;
}
a:focus,
a:hover {
  text-decoration: none;
}
.text-white {
  color: #fff;
}
.banner-form h5,
.center,
.cont-header.prop-header,
.cont-header.prop-header .btn-style-1,
.copyright,
.form-btn,
.haus-about,
.logo-wrap,
.nav-tabs,
.properties h2,
.properties h4,
.propertieseffect,
.thank-btn {
  text-align: center;
}
.padding-0 {
  padding-left: 0;
  padding-right: 0;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background: #fff;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 3px #333;
}
.logo-wrap a {
  display: block;
  max-width: 180px;
  padding: 8px 0;
}
.banner {
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content {
  padding: 15px 0 0;
}
.banner-content h3 {
  font-size: 24px;
  line-height: 25px;
  font-weight: 300;
  margin: 0 0 30px;
}
.property-discount table tr:last-child td,
footer h3 {
  font-weight: 700;
}
.banner-content h1 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
  margin: 0 0 6px;
}
.banner-content h2 {
  margin: 20px 0 0;
  font-size: 30px;
}
.banner-content h4 {
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  font-weight: 300;
}
.banner-content h5 {
  font-size: 22px;
  font-weight: 400;
}
.slide-position {
  margin: 0;
  padding: 0;
}
.carousel-inner .item {
  padding: 400px 0 350px;
  background: center center/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-animation: 20s zoom;
  animation: 20s zoom;
}
#background-carousel {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
}
.carousel,
.carousel-inner,
.over-hide {
  overflow: hidden;
}
.item {
  background-size: cover;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}
@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}
.btn-style-1 a:hover,
.form-control {
  color: #fff !important;
}
.form-section {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
}
input::placeholder {
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
.banner-form {
  opacity: 0.6;
  background: #000;
  padding: 30px 40px;
  margin-top: 0;
}
.banner-form h5 {
  color: #fff;
  padding-bottom: 20px;
  padding-top: 0;
  font-size: 20px;
  font-weight: 600;
}
.banner-form .form-group {
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}
.banner-form .form-control {
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  background: 0 0;
  border: 1px solid #7c7c7c;
}
.banner-form .form-control:focus,
.banner-form .form-control:visited {
  border-color: #fff;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000;
}
.banner-form input,
radio,
select,
tel,
textarea {
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  background-image: none;
  border-bottom: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.haus-about h2,
.properties h2 {
  font-size: 36px;
  padding-bottom: 30px;
}
.form-btn {
  background: #fff;
  font-weight: 500;
  border-radius: 25px;
  padding: 10px 35px;
  color: #000;
  display: inline-block;
}
.form-btn:hover {
  background: #000;
  color: #fff;
}
.haus-about {
  padding: 70px 0;
}
.haus-about h2,
.properties h2 {
  color: #58595b;
}
.properties {
  border-bottom: 8px solid #fff;
}
.properties h4 {
  color: #58595b;
  font-size: 24px;
  padding-bottom: 10px;
}
.propertieseffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
}
.propertieseffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.propertieseffect:hover .overlay {
  background-color: rgba(170, 170, 170, 0.4);
}
.propertieseffect h3,
.propertieseffect img {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.propertieseffect img {
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.propertieseffect:hover img {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.propertieseffect h3 {
  color: #000;
  text-align: center;
  position: relative;
  font-size: 24px;
  padding: 15px 10px;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 20%;
}
.modal-title span,
.propertieseffect h3 span {
  font-weight: 400;
}
.propertieseffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 4% 0 0;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-weight: 400;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 0;
  left: 20px;
}
.propertieseffect:hover p.info {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.7);
}
.footer-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-wrap img {
  max-width: 100px !important;
}
.logo3-wrap {
  /* background-color: #fff; */
  padding: 5px 10px 0;
}
footer {
  background: #337053;
  padding: 10px 0;
  margin-top: 0;
}
footer h3 {
  color: #fff;
  padding-bottom: 5px;
}
.copyright p,
footer p,
footer p a {
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #fff;
}
footer#contact-us img {
  max-width: 100px;
}
footer p {
  padding: 15px 0;
}
.cont-header p,
footer p,
footer p a {
  margin: 0;
}
footer p a:hover {
  color: #ebe4e4;
}
.copyright {
  padding: 10px 0 0;
  background: #414042;
}
.modal-body,
.modal-header,
.modal-title,
.why-buy .btn-style-1 {
  text-align: left;
}
.modal-dialog {
  margin: 50px auto;
  width: 85%;
  display: block;
  z-index: 999999;
}
.modal-content {
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
.modal-title {
  color: #9ab4b1;
  position: relative;
  font-size: 24px;
  padding: 0;
  margin: 6px 0 0;
  float: left;
}
.modal-body-content {
  padding: 0 30px 0 0;
}
.modal-body-content h6 {
  font-size: 16px;
  padding-bottom: 10px;
}
.modal-body-content ul {
  list-style: disc;
  margin-left: 20px;
}
.modal-body {
  color: #666;
  font-size: 16px;
}
.modal-body img,
.modal-body:hover img {
  width: 100%;
  overflow: hidden;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.modal-body p {
  color: #fff;
  font-size: 16px;
  padding-top: 0;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
}
.modal-body h5 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 20px;
  color: #9ab4b1;
}
.modal-header .close {
  margin-top: 0;
  background: 0 0;
  color: #fff;
  padding: 0;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 5px;
}
.thank {
  background: url(../images/slider/1.webp) center center/cover no-repeat;
  padding: 33px 0 20%;
}
.thank-banner {
  background: 0 0;
  margin: 5% 0 50px;
  text-align: center;
}
.thank-content {
  padding: 30px 15px;
}
.thank-content h3 {
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
}
.thank-content p {
  margin-bottom: 0;
  padding: 0 80px;
}
.thank-btn a {
  color: #fff;
  background: #000;
  padding: 8px 20px;
  display: inline-block;
}
.thank-btn a:hover {
  color: #000;
  background: #fff;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
.owl-prev {
  left: 20px;
  top: 45%;
  background: url("../images/left-icon.png") no-repeat;
}
.owl-next {
  right: 8px;
  top: 45%;
  background: url("../images/right-icon.png") no-repeat;
}
.owl-pagination,
div#downloadBrochure h5 {
  display: none;
}
.owl-next,
.owl-prev {
  width: 30px;
  height: 40px;
}
section.Property-details {
  padding: 30px 0 0;
}
section.Property-details img {
  border-radius: 50px;
  margin: 0 auto;
  width: 100%;
}
section.features .row {
  margin-bottom: 30px;
}
section.features {
  padding: 30px 0 0;
}
section.features h3 {
  margin: 0 0 20px;
  text-align: center;
}
section.Property-details .row {
  margin-bottom: 30px;
}
.amenities,
section.Property-details h3 {
  margin: 0 0 20px;
  text-align: center;
}
.cont-header hr,
section.Property-details hr {
  border-color: #9ab4b1;
  border-width: 2px;
  width: 60px;
}
section.Property-details .why-hart .row {
  margin-bottom: 0;
}
.cont-header {
  padding: 20px 10px;
}
.btn-download .brochure-btn {
  background-color: #cdab6e;
  color: #fff !important;
}
.why-hart hr {
  margin-left: auto !important;
}
.why-hart {
  margin: 30px 0 0;
}
.amenities-img,
.cont-header h2 {
  margin: 0 0 10px;
}
.img-shadow {
  box-shadow: 0 0 11px 0 #00000057;
}
.prop-specs h2 {
  margin: 20px 0 30px;
}
.prop-specs ul {
  list-style: disc;
  padding: 0 0 0 30px;
}
.banner-content ul li {
  margin: 8px 0;
}
.prop-specs ul li {
  font-size: 19px;
  margin: 0 0 5px;
}
.amenities-img div svg {
  max-width: 80px;
  fill: #9ab4b1;
}
.amenities-img div svg g {
  fill: #9ab4b1;
}
.amenities-img div {
  display: table-cell;
  vertical-align: middle;
}
.amenities-img {
  display: table;
  width: 100%;
  height: 80px;
}
.btn-style-1 {
  display: block;
  text-align: right;
  margin: 20px 0 0;
}
.btn-style-1 a {
  display: inline-block;
  background: #cdab6e;
  color: #fff !important;
  border: 0;
  padding: 10px 15px;
  transition: 0.5s linear;
}
div#sticky-btn {
  margin: 0;
  display: none;
  text-align: right;
}
div#sticky-btn a {
  display: inline-block;
  color: #fff;
}
div#downloadBrochure .modal-dialog {
  max-width: 600px;
}
div#downloadBrochure .modal-header h4 {
  color: #9ab4b1;
  display: block;
  text-align: center;
  float: none;
}
.modal-header {
  border: none;
}
.modal-dialog .modal-content {
  background-color: #000;
}
.text-center {
  text-align: center !important;
}
div#downloadBrochure .banner-form {
  padding: 0 20px;
}
.banner-cf-wrapper.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000087;
  z-index: 999;
}
.banner-cf-wrapper.popup .banner-form {
  max-width: 500px;
  margin: 10% auto 0;
  position: relative;
  background: #000;
}
.banner-form .close {
  margin-top: 0;
  background: 0 0;
  color: #fff;
  padding: 0;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 5px;
  display: none;
}
.why-buy {
  padding: 80px 0;
}
.why-buy hr {
  margin-left: 0;
}
.brochure-wrap > div h3 {
  color: #fff;
  margin: 0 0 15px;
}
.brochure-wrap > div a {
  display: block;
  background-color: #9ab4b1;
  color: #fff;
  border: 2px solid #9ab4b1;
  padding: 5px 10px;
  transition: 0.5s linear;
  margin: 0 auto 3px;
  text-transform: uppercase;
  max-width: 250px;
  text-align: center;
}
.brochure-wrap > div {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  text-align: center;
  background-color: #0000006e;
  border: 2px solid #9ab4b17d;
}
.brochure-wrap {
  display: table;
  width: 100%;
  height: 100vh;
}
.additional-spec h4 {
  padding: 15px 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 72px;
  background-color: #337053;
  color: #fff;
}
.additional-spec h4 span {
  font-size: 40px;
  color: #9ab4b1;
  padding-right: 5px;
}
.additional-spec {
  margin-top: 10px;
}
.leisure-coll table td,
.leisure-coll table th {
  text-align: center;
  border: 2px dashed #a95a3769;
  padding: 10px 5px;
  width: 20%;
}
.leisure-coll table th {
  color: #000;
}
.closer-amenities,
.leisure-coll table,
section.panoramic {
  margin: 50px 0 0;
}
.property-discount .cont-header h3 {
  color: #a95a37;
}
.property-discount strong {
  display: block;
  text-align: center;
  color: #a95a37;
}
.property-discount table td,
.property-discount table th {
  text-align: center;
  padding: 10px;
}
.property-discount table {
  width: 100%;
  margin: 50px 0;
  box-shadow: 0 0 7px #0000002e;
}
.property-discount table tr:nth-child(odd) {
  background-color: #3333330d;
}
section.property-discount {
  background-color: #f7f7f7;
}
img.img-responsive.img-shadow.mb-2 {
  margin: 0 0 18px;
}
section#features {
  background-color: #efefef;
}
.cont-wrap p {
  font-size: 20px;
  padding: 12% 0 0;
}
.gallery-item div {
  width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
  background-position: bottom;
  background-size: cover;
}
.pano-wrap {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul.slick-dots li button {
  background-color: #000;
  border: 2px solid #000;
  color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 4px 1px #333;
}
ul.slick-dots li {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 5px;
}
ul.slick-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
ul.slick-dots li.slick-active button {
  border: 2px solid #fff;
}
.nav-tabs > li {
  display: inline-block;
  float: none;
}
.nav-tabs li.active a {
  background-color: #9ab4b1 !important;
  color: #fff !important;
}
.nav-tabs li a {
  color: #000;
  font-size: 20px;
}
section#floorplan {
  margin: 50px 0 30px;
}
.banner-content h1 span {
  background-color: #cdab6e;
  padding: 0 5px;
  font-size: 30px;
}
.tab-content img {
  margin: 0 auto;
  display: block;
}
#myCarousel .item {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
footer img {
  max-width: 200px !important;
}
@media only screen and (max-width: 800px) {
  .desktop_footer {
    display: none !important;
  }
  .responsive_footer {
    display: block !important;
  }
  .gallery-item div {
    height: 400px;
  }
  .adm_text {
    font-size: 15px !important;
  }
}
